body {
	width:860px;
	margin: auto;
	padding:auto;
}
#header {
	display: block;
	background-color:#FFCCEE;
	height: 50px;
}
#header #logo{
	display: block;
	float: left;
	width:40%;
}
#header #user-info{
	display: block;
	float:right;
	width:60%;
	text-align: right;
}
#container{
	display: block;
	height: 450px;
}
#container #category{
	display: block;
	float: left;	
	width: 250px;
}
#container #content{
	display: block;
	float: right;	
	width: 600px;
}
#footer {
	display: block;
	height: 50px;
	background-color: pink;
	text-align: center;
}

.book {
	display:block;
	width: 150px;
	height: 120px;
	float: left;
	padding: 1px;
	margin: 1px;
	
	text-align: center;
}
.book img {
	width: 140px;
	height: 110px;
}
.book a, a:hover, a:active{
	text-decoration: none;
	color: #CCFFCC;
}
.book span{
	position: relative;
	bottom: 30px;
}

 .image{
	display:block;
	float:left;
	with:60%;
	overflow:hidden;
	
}
 .image img{
	heigth:250px;
}
.info{
	with:40%;
	display: block;
	float:right;
	text-align: left;
}
.none-bullet{
	list-style-type: none;
}



.table table {
	border: 1px solid black;
	border-collapse: collapse;
}
.table th,td {
	border: 1px solid black;
	padding: 0.25rem;
}

.table th {
	border-bottom: 1px solid black;
	background: rgb(167, 201, 66);
}
.error-message{
	color:red;
	font-style: italic;
}
.table tr:nth-child(odd) {
	background: rgb(234, 242, 211);
}

.table  tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}